.header {
  background: #fff;
  /* border-bottom: 1px solid #ececf6; */
  padding: 0;
  box-shadow: 0 2px 8px rgba(99, 102, 241, 0.04);
  margin-bottom: 0;
  max-width: 1200px;
  margin: 0 auto;
}
.header-content {
  margin: 0 auto;
  padding: 24px 32px 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
.header-title h1 {
  font-size: 1.45rem;
  font-weight: 600;
  margin: 0 0 2px 0;
  letter-spacing: -0.5px;
}
.header-title p {
  font-size: 0.98rem;
  margin: 0;
  text-align: left;
}
.header-filters {
  text-align: right;
  display: flex;
}
.header-info {
  font-size: 0.92rem;
  color: #888;
  margin: 0 0 2px 0;
}
.header-info-container {
  text-align: left;
  margin-right: 25px;
}
.header-info-container-border {
  border: 1px solid #ececf6;
  border-radius: 5px;
  padding: 10px 3rem 0 10px;
}
.applied-filters {
  font-size: 0.92rem;
  color: #6366f1;
  margin: 0 0 10px 0;
}
.applied-filters.highlight {
  color: #6366f1;
  font-weight: 600;
}
.header-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-end;
}
.btn {
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #ececf6;
  background: #fff;
  color: #6366f1;
  font-size: 0.98rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: none;
  width: 100%;
}
.btn:hover {
  border-color: #6366f1;
  background: #f5f7ff;
}
.btn-filters {
  border-color: #6366f1;
  color: #6366f1;
}
.btn-filters:hover {
  background: #f5f7ff;
}
.btn-clear {
  border-color: #6366f1;
  color: #6366f1;
  text-decoration: underline;
}
.btn-clear:hover {
  background: #f5f7ff;
}
.tabs {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 32px; */
  display: flex;
  gap: 32px;
  border-bottom: 1.5px solid #ececf6;
  background: #fff;
}
.tab {
  padding: 18px 0 12px 0;
  border: none;
  background: none;
  color: #b0b0b0;
  font-size: 1.01rem;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 2.5px solid transparent;
  transition: all 0.2s;
  white-space: nowrap;
  letter-spacing: 0.01em;
}
.tab:hover {
  color: #6366f1;
}
.tab.active {
  color: #6366f1;
  border-bottom-color: #6366f1;
  background: #f5f7ff;
}
